var c = module.exports = {}

c.symbols = []

const InstanceUtil = require('./src/utils/instance_util');
c.init = async () => {
  c.symbols.push(
    ...(await InstanceUtil.binanceFuturesInit(pair => {
      if (pair.symbol.startsWith('BTC') || pair.symbol.startsWith('ETH') || pair.symbol.endsWith('BUSD')) {
        return;
      }

      return {
        'symbol': pair.symbol,
        'extra': {
          'binance_futures_leverage': 20
        },
        'periods': ['1m', '3m', '15m', '1h', '4h', '1d'],
        'watchdogs': [
          {
            'name': 'grid_trading',
            'hedge_position': true,
            'hedge_min_percent': -2.5,
            'hedge_max_percent': -6,
            'hedge_profit_mode': true,
            'hedge_take_profit': 3,
            'step_resolution': 3.5,
            'hedge_step_resolution': 1.5,
            'trailing_stop_rate': 1,
            'take_profit': 1,
            'risk_notify': true,
            'risk_size': 300,
            'risk_take_profit': 1,
            'pump_detection': true,
            'pump_candle_period': "15m",
            'quarantine_after': 1000
          }
        ],
        'exchange': 'binance_futures',
        'trade': {
          'max_position': 10,
          'currency_capital': 80,
          'strategies': [
            {
              'strategy': 'marinero',
              'options': {
                'period': '1h'
              }
            }
          ]
        }
      };
    }))
  );
}