body {
    font-size: 0.9rem;
    -webkit-font-smoothing: antialiased !important;
}

nav {
    font-size: initial;
}

.content-wrapper > .content {
    padding: 0;
}

.content-wrapper {
    background-image: linear-gradient(#20c99740 0%, rgb(96 123 162 / 0%) 413px) !important;
    /* background-image: linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 413px) !important; */
}

.dark-mode .content-wrapper {
    /* background-color: #454d55; */
    background-image: linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 413px) !important;
    color: #fff;
    /* background-attachment: fixed !important; */
}

/* .dark-mode .card {
    background-color: transparent !important;
} */

.dark-mode a {
    color: #f1f1f1 !important;
}

.dark-mode a:hover {
    color: #ffffff !important;
}

.badge {
    font-size: 85% !important;
}

.badge-success {
    background-color: #20c997 !important;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .span-md {
        word-break: break-all;
    }
}

@media (max-width: 768px) {
    .border-right {
        border-right: 0 !important;
    }
}


/*base*/
.text-orange {
    color: #b35900
}

.trend-up {
    transform: rotate(45deg);
}

.trend-down {
    transform: rotate(135deg);
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

.blink {
    animation: blink 1s step-start 0s infinite;
    animation-timing-function: ease-in-out;
}

.period-start {
    border-left: 1px solid #dee2e6
}

.th-hidden {
    border: 0 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*end base*/

.col-rotate {
    vertical-align:bottom;
}

.col-rotate span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: inline-block;
}

.no-wrap {
    white-space: nowrap;
}

.toggle-switch{
  width: 70px;
  height: 45px;
  position: relative;
}

input[type="checkbox"].switch{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

svg.checkbox .outer-ring{
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  -webkit-animation: resetRing .35s ease-in-out forwards;
          animation: resetRing .35s ease-in-out forwards;
}

input[type="checkbox"].switch:checked + svg.checkbox .outer-ring{
  -webkit-animation: animateRing .35s ease-in-out forwards;
          animation: animateRing .35s ease-in-out forwards;
}

input[type="checkbox"].switch:checked + svg.checkbox .is_checked{
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
}

input[type="checkbox"].switch:checked + svg.checkbox .is_unchecked{
  opacity: 0;
  -webkit-transform: translateX(-200%) rotate(180deg);
          transform: translateX(-200%) rotate(180deg);
}


svg.checkbox{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg.checkbox .is_checked{
  opacity: 0;
  fill: #ffc107;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateX(200%) rotate(45deg);
          transform: translateX(200%) rotate(45deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

svg.checkbox .is_unchecked{
  opacity: 1;
  fill: #fff;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

@-webkit-keyframes animateRing{
  to{
    stroke-dashoffset: 0;
    stroke: #fff;
  }
}

@keyframes animateRing{
  to{
    stroke-dashoffset: 0;
    stroke: #fff;
  }
}

@-webkit-keyframes resetRing{
  to{
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}

@keyframes resetRing{
  to{
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}
