{% extends './layout.html.twig' %}

{% block head %}
<style>
h3 {
    font-weight: 500 !important;
}
</style>
{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.Content Header (Page header) -->

        <!-- Main content -->
        <div class="content"><!--
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="small-box bg-green">
                        <div class="inner">
                            <h3>1,023,334 <small style="font-size: 16px">USDT</small></h3>

                            <p>Wallet Balance</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-wallet"></i>
                        </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="small-box bg-info">
                        <div class="inner">
                            <h3>2424 <small style="font-size: 16px">USDT</small></h3>

                            <p>Today's PNL</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-hand-holding-usd"></i>
                        </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="small-box bg-red">
                        <div class="inner">
                            <h3>1.03<small style="font-size: 16px">%</small></h3>

                            <p>Margin Risk Ratio</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-radiation"></i>
                        </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>142</h3>

                            <p>Total Pairs</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-stream"></i>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header border-bottom-0">
                                <h3 class="card-title">PNL Report</h3>
                                <div class="card-tools">

                                </div>
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header border-bottom-0">
                                <h3 class="card-title">Balance Report</h3>
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div> --><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
{% endblock content %}
